<head>
  {% include "shared/head/meta.njk" %}
  {% include "shared/head/favicons.njk" %}
  {% include "shared/head/preload.njk" %}
  {% include "shared/head/styles.njk" %}
  {% include "shared/head/scripts.njk" %}
</head>
